
        
    <!--================Header=================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                  
                    <a class="navbar-brand logo_h">
                        <h1>{{MyTitleName}}</h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link nav-name" (click)="onHome()">Home</a></li> 
                            <li class="nav-item"><a class="nav-link nav-name" (click)="onAbout()">About</a></li> 
                            <li class="nav-item"><a class="nav-link nav-name" (click)="onContact()">Contact</a></li>
                        </ul>
                    </div> 
                </div>
            </nav>
        </div>
    </header>

    <!--================Router=================-->

    <router-outlet></router-outlet>

    <!--================Router=================-->
    
    <!--================Footer=================-->

    <footer class="footer_area p_120">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            <h3>About Me</h3>
                        </div>
                        <p>{{MyAbout}}</p>
                    </aside>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widget news_widget">
                    </aside>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <aside class="f_widget social_widget">
                        <div class="f_title">
                            <h3>Follow Me</h3>
                        </div>
                        <p>Let us be social</p>
                        <ul class="list">
                            <li (click)="onSocial('linkedin')"><a><i class="fa fa-linkedin"></i></a></li>
                            <li (click)="onSocial('twitter')"><a><i class="fa fa-twitter"></i></a></li>
                            <li (click)="onSocial('facebook')"><a><i class="fa fa-facebook"></i></a></li>
                            <li (click)="onSocial('instagram')"><a><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
    
    <!--================Footer=================-->
  
    
    
    
    

